body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px); /* Calcula el ancho para tres columnas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.producto h2 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    font-size: 16px;
    color: #333;
}

.boton-comprar {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #25d366;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.boton-comprar:hover {
    background-color: #128c7e;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .producto {
        width: calc(50% - 20px); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: calc(100% - 20px); /* Una columna en pantallas pequeñas */
    }
}